@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #f2f2f2;
  --violet: #8758ff;
  --violet-sec: #4b2e8d;
  --black: #181818;
  --grey: #7f8487;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right bottom, var(--violet), var(--black));
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--white);
  height: 450px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 2px 2px 15px var(--black);
}

.card__container__logo img {
  width: 80px;
  height: 80px;
}

.card__container__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__container input {
  width: 350px;
  height: 35px;
  border: none;
  border-bottom: 1px solid var(--violet);
  font-size: 18px;
  font-weight: 500;
  outline: none;
  color: var(--violet);
  background-color: var(--white);
}

.card__container input::placeholder {
  font-weight: 400;
  font-size: 17px;
  color: var(--violet);
  opacity: 0.7;
}

.card__container input:focus {
  border-bottom: 2px solid var(--violet);
}

.btn__container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.btn__container button {
  width: 180px;
  height: 40px;
  border: none;
  color: var(--white);
  background: linear-gradient(
    to right bottom,
    var(--violet),
    var(--violet-sec)
  );
  font-size: 17px;
  font-weight: 900;
  border-radius: 20px;
  box-shadow: 1px 1px 5px var(--grey);
}

.btn__container button:hover {
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.4s ease-in;
}

.div__text {
  position: relative;
  top: 10px;
  right: 100px;
}

.div__text p {
  color: var(--white);
  font-size: 14px;
}

.div__text a {
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.div__text a:hover {
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
  transition: all 0.4s ease-in;
}
